<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Event Detail</title>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
</head>
<body>
		<th:block th:include="fragments/navbar::navbar"></th:block>

	
	
	<div class="container-fluid">
		<div class="container d-flex justify-content-middle mt-4 mb-4">
			<form class="mx-auto" th:action="@{/searchEvent}" th:method="GET">
				<input  type="text" name ="name" placeholder="Search Event"/>
				<button class="button-blue btn" type="submit">Search</button>
			</form>
			
		</div> 

	</div>
</body>
</html>