

.navbar-purple{
	background-color: #830039;
}
.navbar-blue{
	background-color: #044967;
}

.nav-link-white{
	color:#FFF465;
}
.nav-button-white{
	color:#FFC14E;
}
.button-purple{
	color: #FFC14E;
    background-color: #4485A1;
    border-color: #4485A1;
}
.button-blue{
	color: #FFC14E;
    background-color: #4485A1;
    border-color: #4485A1;
    button
}
.button-light{
	color: #1D1300;
    background-color: #FFC14E;
    border-color: #FFC14E;
}
.button-blue:hover {
    color:#FFF465;
}

.nav-link-white:hover{
	color:#EAD90C;
}
.mes{
	color: #18000B;
}
.color-link-blue{
	color:#010014;
}
.color-link-light{
	color:#1D1300;
}
.error {
color: red;
display: inline-block;
}
.has-error{
	color: red;
}

