<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account</title>
	
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>	
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>

<div class="container-fluid mt-15">

<div class="container-fluid  mt-10 " style="margin-top: 20px">
			<div class="row">
				<div class="col-md-10 col-md-offset-3">
					<div class="panel panel-primary">

						<div class="panel-heading">
							<h1 class="panel-title">Account</h1>
						</div>
						<div class="panel-body">
							<!-- check this list -->
							<div class="table-responsive">
								<table class="table table-hover ">
									<thead class="thead-inverse">
										<tr>
											<th>Id Number</th>
											<th>Name</th>
											<th>Email</th>
											<th>Phone</th>											
										</tr>
									</thead>
									
									<tr >
										<td th:text="${account.idNumber}">Id Number</td>
										<td th:text="${account.name}">Name</td>
										<td th:text="${account.email}">email</td>
										<td th:text="${account.phone}">Phone</td>
										
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


<div class="container-fluid  mt-10" style="margin-top: 20px">
			<div class="row">
				<div class="col-md-10 col-md-offset-3">
					<div class="panel panel-primary">

						<div class="panel-heading">
							<h4 class="panel-title">Address</h4>
						</div>
						<div class="panel-body">
							
							<div class="table-responsive">
								<table class="table table-hover ">
									<thead class="thead-inverse">
										<tr>
											<th>Country</th>
											<th>City</th>
											<th>Street</th>
											<th>Street Number</th>	
																					
										</tr>
									</thead>
									
									<tr >
										<td th:text="${account.adress.country}">Country</td>
										<td th:text="${account.adress.city}">City</td>
										<td th:text="${account.adress.street}">Street</td>
										<td th:text="${account.adress.streetNumber}">Street Number</td>
										
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


<!-- List of contacts -->
<div class="container-fluid  mt-10" style="margin-top: 20px">
			<div class="row">
				<div class="col-md-10 col-md-offset-3">
					<div class="panel panel-primary">

						<div class="panel-heading">
							<h4 class="panel-title">Contacts</h4>
						</div>
						<div class="panel-body">
							
							<div class="table-responsive">
								<table class="table table-hover ">
									<thead class="thead-inverse">
										<tr>
											<th>Name</th>
											<th>Email</th>
											<th>Phone</th>
											<th>Report to</th>	
											<th>To be contacted</th>											
										</tr>
									</thead>
									
									<tr th:each="contact : ${contacts}">
										<td th:text="${contact.name}">Name</td>
										<td th:text="${contact.email}">Email</td>
										<td th:text="${contact.phone}">Phone</td>
										<td th:text="${contact.reportTo}">Report to</td>
										<td th:text="${contact.isContactable}">To be contacted</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


Opportunities
<!-- List of Opportunities -->
<div class="container-fluid  mt-10" style="margin-top: 20px">
			<div class="row">
				<div class="col-md-10 col-md-offset-3">
					<div class="panel panel-primary">

						<div class="panel-heading">
							<h4 class="panel-title">Opportunities</h4>
						</div>
						<div class="panel-body">
							
							<div class="table-responsive">
								<table class="table table-hover ">
									<thead class="thead-inverse">
										<tr>
											<th>Status</th>
											<th>Description</th>
																					
										</tr>
									</thead>
									
									<tr th:each="opp : ${opportunities}">
										<td th:text="${opp.status}">Status</td>
										<td th:text="${opp.description}">Description</td>
										
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
Tasks
Events


</div>
</body>
</html>