<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</head>
<body>



	<div class="container-fluid">
		<th:block th:include="fragments/navbar::navbar"></th:block>
		<h1>Login Page</h1>
		<div style="color: red" th:if="${error} != null" th:text="${error}"></div>
		<form method="post">
			<div class="form-group col-md-5 form-group">
				<label class="form-control-label" for="inputUsername">Username</label>
				<input type="text" class="form-control form-control-danger"
					id="inputUsername" name="username" />
			</div>
			<div class="form-group col-md-5 form-group">
				<label class="form-control-label" for="inputPassword">Password</label>
				<input type="password" class="form-control form-control-danger"
					id="inputPassword" name="password" />
			</div>
			<div class="form-check">
				<label class="form-check-label"> <input type="checkbox"
					class="form-check-input" name="rememberMe" /> Remember Me
				</label>
			</div>
			<input type="submit" class="btn btn-success" value="Log In" />
		</form>
	</div>


</body>
</html>