<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Relationship Management</title>
	
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.js"></script>	
</head>
<body>
	<th:block th:include="fragments/navbar::navbar"></th:block>

	<div class="container-fluid">
		<div class="container d-flex justify-content-middle mt-4 mb-4">
			<form class="mx-auto" th:action="@{/search}" th:method="GET">
				<input  type="text" name ="name" placeholder="Search"/>
				<button class="button-blue btn" type="submit">Search</button>
			</form>
			
		</div> 
<!-- 		<th:block th:each="account:${accounts}" th:object="${account}"> -->
	
<!-- 		<div class="text-center"  th:text="|${accountStat.count} *{name}  -->
<!-- 		email: *{email} address:*{adress.city}  *{adress.street}|"></div>	 -->
<!-- 	</th:block>  -->
	
	<div class="container-fluid" style="margin-top: 20px">
			<div class="row">
				<div class="col-md-15 col-md-offset-3">
					<div class="panel panel-primary">

						<div class="panel-heading">
							<h1 class="panel-title">Accounts</h1>
						</div>
						<div class="panel-body">
							<!-- check this list -->
							<div class="table-responsive">
								<table class="table table-hover ">
									<thead class="thead-inverse">
										<tr>
											<th>Number</th>
											<th>Id Number</th>
											<th>Name</th>
											<th>Email</th>
											<th>Phone</th>	
											<th>Address</th>										
										</tr>
									</thead>
									
									<tr th:each="account : ${search.searchAccounts}" >
										<td th:text="${accountStat.count}">Number</td>
										<td th:text="${account.idNumber}">Id Number</td>
										<td th:text="${account.name}">Name</td>
										<td th:text="${account.email}">email</td>
										<td th:text="${account.phone}">Phone</td>
										<td th:text="|${account.adress.city}  ${account.adress.street}|">Address</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid" style="margin-top: 20px">
			<div class="row">
				<div class="col-md-15 col-md-offset-3">
					<div class="panel panel-primary">

						<div class="panel-heading">
							<h1 class="panel-title">Contacts</h1>
						</div>
						<div class="panel-body">
							<!-- check this list -->
							<div class="table-responsive">
								<table class="table table-hover ">
									<thead class="thead-inverse">
										<tr>
											<th>Number</th>
											<th>Id Number</th>
											<th>Name</th>
											<th>Email</th>
											<th>Phone</th>	
																				
										</tr>
									</thead>
									
									<tr th:each="contact : ${search.searchContacts}" >
										<td th:text="${contactStat.count}">Number</td>
										<td th:text="${contact.idNumber}">Id Number</td>
										<td th:text="${contact.name}">Name</td>
										<td th:text="${contact.email}">email</td>
										<td th:text="${contact.phone}">Phone</td>
										
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
	</div>
	
</body>
</html>