<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Unautorized</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css"/>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.js"></script>	
</head>
<body>
<th:block th:include="fragments/navbar::navbar"></th:block>

    <div>NO ACCESS!</div>

<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
</body>
</html>